%h1 Kontakt
%dl.contact
  %dt Adres
  %dd
    KS „Cios-Adamek” Gilowice
    %br
    Gilowice 34-322
    %br
    Ul. Krakowska 155

  %dt Email
  %dd kontakt@kscios.pl

  %dt Twitter
  %dd= link_to("@kscios", "http://twitter.com/#!/kscios", :"data-popup" => true)

  %dt Facebook
  %dd= link_to(%q{KS "Cios-Adamek" Gilowice}, "http://www.facebook.com/pages/KS-Cios-Adamek-Gilowice/189757511085174", :"data-popup" => true)

  %dt Konto bankowe
  %dd
    BS Gilowice
    %br
    70 8141 0008 0000 5861 2000 0010
    %br
    Klub Sportowy „Cios-Adamek” Gilowice
    %br
    ul. Krakowska 155
    %br
    34-322 Gilowice
