%h1 Kontakt
%p
  KS „Cios-Adamek” Gilowice
  %br
  Gilowice 34-322
  %br
  Ul. Krakowska 155
  %br
  Email: kontakt@kscios.pl

%h1 Konto bankowe
%p
  BS Gilowice
  %br
  70 8141 0008 0000 5861 2000 0010
  %br
  Klub Sportowy „Cios-Adamek” Gilowice
  %br
  ul. Krakowska 155
  %br
  34-322 Gilowice
