%h1= "Treningi"
%br
KS „Cios Adamek Gilowice” zaprasza na treningi bokserskie
%ul
  %li= "wtorki i czwartki w godz. 17.00-18.30"
  sala gimnastyczna Gilowice ul. Siedlakówka 37
  %br
  %li= "poniedziałki, środy i piątki w godz. 17.00-18.30"
  Gilowice ul. Krakowska 155.
