%h1= "Trainings"
%br
KS „Cios Adamek Gilowice” invites on boxing trainings
%ul
  %li= "Tuesdays and Thursdays at 17.00-18.30"
  on gym Gilowice ul. Siedlakówka 37
  %br
  %li= "Mondays, Wednesdays and Fridays at 17.00-18.30"
  Gilowice ul. Krakowska 155.
