%h1.title=h @boxer.full_name
%div.byline
  - if @boxer.birth_date.present?
    %tr= t("birth_date") + ":"
    %td=h year_month_day(@boxer.birth_date)
  - if @boxer.photo_url.present?
    %div
      = image_tag @boxer.photo_url, :alt => t("photo")
%div.post
  = textilize_without_paragraph( @boxer.about )
